<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-dark-subtle">
    <!--  ============ Start Nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            style="width: 40px"
            src="https://i.imgur.com/y0cqB7Z.png"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bolder" href="/project">Add Project</a>
            </li>
          </ul>

          <a class="btn btn-danger" href="/contact">Contact me</a>
        </div>
      </div>
    </nav>
    <!-- =================== end Nav -->

    <div class="container my-4" style="width: 500px;">
      <input style="display: none;" name="index" value="{{@index}}" />
      <div class="form">
        {{#if this.method}}
          <h2 class="text-center">ADD MY PROJECT</h2>
          <form method="post" action="project">
            <div>
              <label for="name">Project Name</label>
              <input name="name" class="form-control" type="text" id="name" />
            </div>

            <div class="d-flex gap-2 mt-2">
              <div class="w-100">
                <label for="input-project-name">Start Date</label>
                <input
                  name="startDate"
                  class="form-control"
                  type="date"
                  id="input-start-date"
                />
              </div>
              <div class="w-100">
                <label for="input-project-name">End Date</label>
                <input
                  name="endDate"
                  class="form-control"
                  type="date"
                  id="input-end-date"
                />
              </div>
            </div>

            <div class="input mt-2">
              <label for="input-description">Description</label>
              <textarea
                name="description"
                style="resize: none; height: 100px"
                class="form-control"
                id="input-description"
              >{{this.description}}</textarea>
            </div>

            <div class="mt-3">
              <p>Technologies</p>
              <div class="row">
                <div class="col">
                  <div>
                    <input name="nodeJs" type="checkbox" id="check-nodejs" />
                    <label for="check-nodejs"> Node Js</label>
                  </div>
                  <div>
                    <input name="php" type="checkbox" id="check-nextjs" />
                    <label for="check-nextjs"> Php</label>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <input name="reactJs" type="checkbox" id="check-reactjs" />

                    <label for="check-reactjs"> React Js</label>
                  </div>
                  <div>
                    <input
                      name="javascript"
                      type="checkbox"
                      id="check-javascript"
                    />
                    <label for="check-typescript"> Javascript</label>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->

            <div class="input-group mb-3 mt-3">
              <div class="input-group">
                <input
                  name="gambar"
                  type="file"
                  class="form-control"
                  id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload"
                />
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-danger">Submit</button>
            </div>
          </form>
        {{/if}}

        {{#if this.methodPut}}
          <h2 class="text-center">UPDATE PROJECT</h2>
          <form method="post" action="update-project/{{@index}}">
            <div>
              <label for="name">Project Name</label>
              <input
                value="{{this.data.name}}"
                name="name"
                class="form-control"
                type="text"
                id="name"
              />
            </div>

            <div class="d-flex gap-2 mt-2">
              <div class="w-100">
                <label for="input-project-name">Start Date</label>
                <input
                  name="startDate"
                  class="form-control"
                  type="date"
                  id="input-start-date"
                  value={{this.data.start_date}}
                />
              </div>
              <div class="w-100">
                <label for="input-project-name">End Date</label>
                <input
                  name="endDate"
                  class="form-control"
                  type="date"
                  id="input-end-date"
                  value={{this.data.end_date}}
                />
              </div>
            </div>

            <div class="input mt-2">
              <label for="input-description">Description</label>
              <textarea
                name="description"
                style="resize: none; height: 100px"
                class="form-control"
                id="input-description"
              >{{this.data.description}}</textarea>
            </div>

            <div class="mt-3">
              <p>Technologies</p>
              <div class="row">
                <div class="col">
                  <div>
                    {{#if this.data.tech.nodeJs}}
                      <input
                        name="nodeJs"
                        type="checkbox"
                        id="check-nodejs"
                        checked
                      />
                    {{else}}
                      <input name="nodeJs" type="checkbox" id="check-nodejs" />
                    {{/if}}
                    <label for="check-nodejs"> Node Js</label>
                  </div>
                  <div>
                    {{#if this.data.tech.php}}
                      <input
                        name="php"
                        type="checkbox"
                        id="check-nextjs"
                        checked
                      />
                    {{else}}
                      <input name="php" type="checkbox" id="check-nextjs" />
                    {{/if}}
                    <label for="check-nextjs"> Php</label>
                  </div>
                </div>
                <div class="col">
                  <div>
                    {{#if this.data.tech.reactJs}}
                      <input
                        name="reactJs"
                        type="checkbox"
                        id="check-reactjs"
                        checked
                      />
                    {{else}}
                      <input
                        name="reactJs"
                        type="checkbox"
                        id="check-reactjs"
                      />
                    {{/if}}
                    <label for="check-reactjs"> React Js</label>
                  </div>
                  <div>
                    {{#if this.data.tech.javascript}}
                      <input
                        name="javascript"
                        type="checkbox"
                        id="check-javascript"
                        checked
                      />
                    {{else}}
                      <input
                        name="javascript"
                        type="checkbox"
                        id="check-javascript"
                      />
                    {{/if}}
                    <label for="check-typescript"> Javascript</label>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->

            <div class="input-group mb-3 mt-3">
              <div class="input-group">
                <input
                  name="gambar"
                  type="file"
                  class="form-control"
                  id="inputGroupFile04"
                  aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload"
                />
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-danger">Submit</button>
            </div>
          </form>
        {{/if}}

      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>